aiofiles==0.8.0
aiogram==2.20
aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.5.0
async-timeout==4.0.2
attrs==21.4.0
Babel==2.9.1
certifi==2021.10.8
charset-normalizer==2.0.12
choicelib==0.1.5
cycler==0.11.0
fonttools==4.32.0
frozenlist==1.3.0
idna==3.3
kiwisolver==1.4.2
matplotlib==3.5.1
mpmath==1.2.1
multidict==6.0.2
numpy==1.22.3
packaging==21.3
Pillow==9.1.0
pydantic==1.9.0
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
qrcode==7.3.1
six==1.16.0
sniffio==1.2.0
sympy==1.10.1
typing_extensions==4.1.1
vbml==1.1.post1
vkbottle==4.3.2
vkbottle-types==5.131.146.1
watchgod==0.8.2
yarl==1.7.2
